@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  .typing-effect {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end);
  }
  
  @keyframes fadeInOutIn {
    0%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
  }
  
  .fade-in-out-in {
    animation: fadeInOutIn 6s ease-in-out;
  }